# Primary colors
[colors.primary]
background = "#{{ base00 }}"
foreground = "#{{ base06 }}"

# Search colors
[colors.search.matches]
foreground = 'CellBackground'
background = '#{{ base0A }}'

# Normal colors
[colors.normal]
black = '#{{ base01 }}'
magenta = '#{{ base0C }}'
green = '#{{ base0D }}'
yellow = "#ffe97b"
blue = '#{{ base0B }}'
red = '#{{ base0A }}'
cyan = '#{{ base08 }}'
white = '#{{ base04 }}'

# Bright colors
[colors.bright]
black = '#{{ base02 }}'
magenta = '#{{ base0C }}'
green = '#{{ base0D }}'
yellow = "#ffe97b"
blue = '#{{ base0B }}'
red = '#{{ base0A }}'
cyan = '#{{ base08 }}'
white = '#{{ base06 }}'
